<div id="login_container">
    <div id="login_form_container">
        <img src="/assets/cass/Intexus.svg" alt="Intexus" style="position: absolute;top: 0;left: 0;">
        <form>
            <label for="emailUser" style="text-align: left;">Correo</label>
            <input type="email" id="emailUser" name="emailUser">
            <br>
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password">
            <br>
            <a href="">Olvide mi Contraseña</a>
            <br>
            <button type="submit" mat-raised-button color="primary">Iniciar Sesión</button>
        </form>
    </div>
    <div id="image_container">
    </div>
</div>
