<div class="grid-container">
  <h1 class="mat-h1">Modulos</h1>
  <mat-grid-list cols="5" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img mat-card-lg-image src={{card.src}}>
        </mat-card-content>
        <mat-card-footer class="dashboard-card-content"><div><p>{{card.content}}</p></div></mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
