.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav.mat-toolbar {
  background: inherit;
  background:  white;
  color: rgba(11, 95, 123, 1);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background:  white;
  color: rgba(11, 95, 123, 1);
}
