.sidenav-container {
  height: 100%;
  background:  white;
  color: rgba(11, 95, 123, 1);
}

.sidenav {
  width: 350px;
}

.sidenav.mat-toolbar {
  background:  white;
  color: rgba(11, 95, 123, 1);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background:  white;
  color: rgba(11, 95, 123, 1);
}

.mat-expansion-panel {
  background: white;
  color: rgba(11, 95, 123, 1);
}

.mat-list >  .mat-list-item:nth-child(2n+1){
  background-color:white;
  color: rgba(11, 95, 123, 1);
}
