@use "@angular/material" as mat;

@include mat.core();

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



$my-app-primary_1: (
    50 : #ffffff,
    100 : #b6cfd7,
    200 : #85afbd,
    300 : #548fa3,
    400 : #30778f,
    500 : #0b5f7b,
    600 : #0a5773,
    700 : #084d68,
    800 : #06435e,
    900 : #03324b,
    A100 : #7fcbff,
    A200 : #4cb6ff,
    A400 : #19a1ff,
    A700 : #0097fe,
    contrast: (
        50 : #0b5f7b,
        100 : #0b5f7b,
        200 :#0b5f7b,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 :#0b5f7b,
        A200 : #0b5f7b,
        A400 : #0b5f7b,
        A700 : #ffffff,
    )
);


$my-app-primary: mat.define-palette($my-app-primary_1,50);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);


$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);



/// Flexbox Cristian ///

$font-color: #006985;

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 30px;
}

.buttons {
    display: flex;
    justify-content: flex-end !important;
    button {
        margin: 0 10px;
        padding: 10px;
        width: 130px;
        border: 1.9px solid #C5C5C5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        font-weight: 600;
        line-height: 30px;
        height: 50px !important;
    }
    button[type=button] {
        color: $font-color;
        background: #FFFFFF;
    }
    button[type=submit] {
        color: #FFFFFF;
        background: $font-color;
    }
}

input:disabled {
    background-color: rgba(60, 60, 60, 0.3);
}

.item-container {
    display: grid;
    flex: 1 0 21%;
    padding-bottom: 10px;
    .title-control {
        margin-left: 18px;
        font-size: 12px;
        color: $font-color;
    }
}

.select-control {
    width: 250px;
    box-sizing: border-box;
}

.text-control {
    width: 226px;
    border: 3.8px solid #DCDCDC;
    border-radius: 25px;
    height: 31px;
    padding-left: 15px;
}

.title {
    color: $font-color;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
}

